.-touch-dog {
  width: 330px;
  height: auto;
  min-height: 100px;
  background: #F6F9FB;
  padding: 0px 15px 28px;
  border-radius: 2px;
  position: fixed;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  top: 0;
  left: 0;
  background: linear-gradient(-45deg, transparent 5px, #F6F9FB 0);
  z-index: 100000;
}

.-touch-dog-logo {
  position: absolute;
  bottom: -8px;
  left: 14px;
  width: 100px;
  height: 35px;
  opacity: .3;
}
.-touch-dog-title {
  font-size: 16px;
  line-height: 23px;
  margin: 12px 0 5px;
  color: #394c5d;
  display: block;
}
.-touch-dog-list {
  width: 100%;
  list-style-type: none;
  margin: 4px 0 16px;
  padding: 0;
}
.-touch-dog-list li {
  font-size: 14px;
  list-style-type: none;
  margin-bottom: 5px;
  color: #5e6d82;
}
.-touch-dog-list li b {
  font-weight: 400;
  font-size: 15px;
  padding-right: 10px;
}
.-touch-dog-list li span {
  padding-right: 5px;
}

